@import "tailwindcss";
@import "react-image-gallery/styles/css/image-gallery.css";

@custom-variant hover (&:hover);

@layer base {
	body {
		@apply bg-primary-light;
	}

	[id] {
		scroll-margin-top: 6rem;
	}

	@media (max-width: 640px) {
		[id] {
			scroll-margin-top: 7.5rem;
		}
	}
}

@layer components {
	.custom-background {
		@apply bg-[url('./assets/images/bg-small.png')] bg-cover bg-no-repeat md:bg-[url('./assets/images/bg.png')] 2xl:bg-[url('./assets/images/bg-large.png')];
	}

	.hamburger {
		cursor: pointer;
		width: 24px;
		height: 24px;
		transition: all 0.25s;
		position: relative;
	}

	.hamburger-top,
	.hamburger-middle,
	.hamburger-bottom {
		position: absolute;
		width: 24px;
		height: 2px;
		top: 0;
		left: 0;
		background: #fff;
		transform: rotate(0);
		transition: all 0.5s;
	}

	.hamburger-middle {
		transform: translateY(7px);
	}

	.hamburger-bottom {
		transform: translateY(14px);
	}

	.open {
		transform: rotate(90deg);
	}

	.open .hamburger-top {
		transform: rotate(45deg) translateY(6px) translateX(6px);
		background: white;
	}

	.open .hamburger-middle {
		display: none;
	}

	.open .hamburger-bottom {
		transform: rotate(-45deg) translateY(6px) translateX(-6px);
		background: white;
	}

	.mobile-menu {
		@apply bg-burgundy/90 absolute top-0 bottom-0 left-0 min-h-screen w-full flex-col items-center justify-start text-white uppercase;
	}

	.mobile-menu a {
		@apply text-2xl tracking-wider text-white transition-colors duration-200 hover:font-bold hover:underline hover:underline-offset-4;
	}

	.image-gallery-icon:hover {
		color: var(--color-burgundy) !important;
	}
}
@theme {
	--color-burgundy: #952b34;
	--color-ghost-gray: #e9e1e2;
	--color-light-beige: #ded1d3;
	--color-primary-dark: #721028;
	--color-primary-light: #eadfdf;
	--color-input-error: #e63946;
	--breakpoint-xsm: 21.25rem; /* 340px */
	--breakpoint-msm: 31.25rem; /* 500px */
}

@utility scrollbar-hidden {
	&::-webkit-scrollbar {
		display: none;
	}
}
